# Default ignored files
/shelf/
/workspace.xml
/tasks.xml
/dictionaries
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/out/
../.idea/
../.gitignore
/misc.xml
